* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tab-half-border {
    width: 20%;
    height: 4px;
    position: relative;
    left: 50%;
    background-color: dimgrey;
}

.tab-border {
    width: 40%;
    height: 3px;
    background-color: dimgrey;
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}


.gray {
    color: #5e5e5e;
}

.green-btn {
    background-color: #1b4830;
    border-radius: 40px;
    color: #fff;
}

.green-btn:hover {
    color: #fff;
    background-color: #28774d;
}

.banner {
    background: linear-gradient(to right, #127fe9, #1a54a2);
    height: 330px;
    margin-bottom: 50%;
}

.dashboard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #8080807d;
    position: relative;
    top: 70px;
}

.dash-icon i {
    margin-left: 30px;
    font-size: 25px;
}

.primary-badge {
    position: absolute;
    right: -10px;
    top: 20px;
    background-color: #004374;
    color: #fff;
    padding: 5px 30px;

}

.skill li {
    list-style: circle;
}

.footer {
    margin-top: 20%;
    margin-bottom: 5%;
}

.footer-left {
    justify-content: space-evenly;
}

.footer-left ul {
    list-style: none;
    padding: 0;
}

.footer-left ul li {
    margin: 4px 0;
}

.footer-right img {
    width: 60px;
}

.footer-icon i {
    margin-left: 10px;
}

.small {
    font-size: 10px;
    margin: 0;
}